[user]
	name = Your Name
	email = my_username@my_domain.com
[core]
	abbrev = 12
	pager = /usr/local/bin/diff-so-fancy | vimpager
[push]
	default = simple
[apply]
	whitespace = nowarn
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
	rulerWidth = 120
